.table{
  position: relative;
  top: 100px;
}

.dropdown{
  position: relative;
  top: 50px;
  width: 200px;
}

.dropdown-toggle{
  width: 270px;
  background-color: #eceff1;
  border-color: #b0bec5;
  color: black;
}

.dropdown-menu{
  :hover{
    color:rgb(127, 168, 255)
  }
}

.btn-outline-success{
  position: relative;
  top: 50px;
  width: 270px;
}

.fs-3{
  position: relative;
  top: 90px;
}

